body{
    background-image: url(/front-end/img/pizza-pepperoni-table\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
}

button{
    width: 152px;
    height: 53px;
    background: var(--pizza-vinho);
    border: none;
    border-radius: 20px;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: var(--white);
}

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.forms_login{
    width: 1321px;
    height: 555px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

#login{
    display: flex;
    flex-direction: column;
    margin: 60px;
    gap: 10px;
}

label{
    font-weight: 200;
    font-size: 30px;;
    color: var(--white);
}

input{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 10px;
}

.nome_tamanho{
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.campo_nome{
    width: 401px;
    height: 58px;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
}

#tamanho{
    width: 217px;
    height: 55px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    color: var(--white);
    appearance: none;
    outline: none;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
}

textarea{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding: 10px;
}

#campo_descricao{
    width: 767px;
    height: 176px;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
}

.campo_imagem{
    width: 380px;
    height: 326px;
    display: flex;
    background: rgba(217, 162, 61, 0.7);
    border: 5px solid var(--pizza-vinho);
    border-radius: 20px;
}

.title_preco_promocao{
    display: flex;
    flex-direction: row;
    gap: 437px;
}

.preco_promocao_tipo{
    display: flex;
    flex-direction: row;
    gap: 124px;
}

.campo_preco{
    width: 401px;
    height: 58px;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
}

.campo_promocao{
    width: 401px;
    height: 58px;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
}

#tipo{
    width: 151px;
    height: 58px;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: var(--white);
    appearance: none;
    outline: none;
    background: rgba(217, 162, 61, 0.7);
    border: 3px solid var(--pizza-vinho);
    border-radius: 20px;
}