body{
    background-image: url(/front-end/img/pizza-pepperoni-table\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
}

main{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.container-login{
    width: 536px;
    height: 630px;
    background-color: rgba(0, 0, 0, 0.783);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    font-weight: 500;
    font-size: 40px;
    color: var(--white);
    text-shadow: 0px 4px 4px var(--pizza-amarelo);
    margin-bottom: 63px;
}

#login{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.usuario{
    font-weight: 200;
    font-size: 30px;
    color: var(--white);
}

.campo_usuario{
    width: 401px;
    height: 58px;
    border: none;
    background-color: var(--white);
    border-radius: 20px;
}

.senha{
    font-weight: 200;
    font-size: 30px;
    color: var(--white);
}

.campo_senha{
    width: 401px;
    height: 58px;
    border: none; 
    background-color: var(--white);
    border-radius: 20px;
}

button{
    width: 173px;
    height: 48px;
    margin-top: 63px;
    background-color: var(--pizza-amarelo);
    border: none;
    border-radius: 20px;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    color: black;
}