body{
    background-image: url(/front-end/img/pizza-pepperoni-table\ 1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
    font-weight: 100;
    font-size: 25px;
    color: var(--white);
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.filtros{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 50px;
}

#categoria{
    width: 212px;
    height: 45px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background: none;
    border: none;
    appearance: none;
    outline: none;
    background-color: var(--pizza-laranja);
    border-radius: 20px;
}

#produto{
    width: 212px;
    height: 45px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    color: var(--white);
    background: none;
    border: none;
    appearance: none;
    outline: none;
    background-color: var(--pizza-laranja);
    border-radius: 20px;
}

.title_pizzas{
    padding-left: 113px;
    padding-top: 20px;
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px var(--pizza-vinho);
}